name: Deploy UI to Remote Server

on:
  workflow_dispatch:

jobs:
  deploy_ui:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: ui/package-lock.json

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add SSH host key
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -p ${{ secrets.REMOTE_PORT }} ${{ secrets.REMOTE_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy UI
        env:
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USERNAME: ${{ secrets.REMOTE_USERNAME }}
          REMOTE_PORT: ${{ secrets.REMOTE_PORT }}
          ORIGIN_UI: ${{ secrets.ORIGIN_UI }}
          ORIGIN_API: ${{ secrets.ORIGIN_API }}
          UI_PORT: ${{ secrets.UI_PORT }}
        run: |
          chmod +x ./ops/deploy_ui.sh
          ./ops/deploy_ui.sh
