name: Deploy to Remote Server

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          
      - name: Add SSH host key
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -p ${{ secrets.REMOTE_PORT }} ${{ secrets.REMOTE_HOST }} >> ~/.ssh/known_hosts

      - name: Run deploy script
        env:
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USERNAME: ${{ secrets.REMOTE_USERNAME }}
          REMOTE_PORT: ${{ secrets.REMOTE_PORT }}
          PORT: ${{ secrets.PORT }}
          GOOGLE_OAUTH2_CREDS: ${{ secrets.GOOGLE_OAUTH2_CREDS}}
          ORIGIN: ${{ secrets.ORIGIN }}
          POSTGRES_CONN_JSON: ${{ secrets.POSTGRES_CONN_JSON }}
          SESSION_TTL_SEC: ${{ secrets.SESSION_TTL_SEC }}
        run: |
          chmod +x ./server/ops/deploy.sh
          ./server/ops/deploy.sh

